@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body{
    min-height: 100vh;
    font-family: Sen;
    margin:0;
    min-width: 100vw;
    padding: 0;
    background: #0F0230;


}
